.container {
    background-color: #3f3f3f;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}   

.mainContent{
    width: 50vw;
    height:50vh;
    display:flex;
    justify-content: center;
    align-items: center;
        
}