.mainContentHome {
    position: relative;
    width: 100%;
    max-height: 100vh;
    overflow-y: hidden;
}

.tabbarMain {
    z-index: 1;
    width: 4rem;
    overflow: hidden !important;
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #000;
    box-shadow: 0 10px 20px #000;
}

.tabbarItems {
    margin: 0;
    width: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homeicons:hover {
    color: #cb9c44 !important;
    transform: rotateY(25deg);
}

.tabbarItem {
    overflow: hidden;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 0;
    margin: 1rem .5rem 5px .5rem;
}

.headerMain {
    background-color: rgb(0, 0, 0);
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    left: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0 15px #000;
    padding: 0 2vw;
}

.headerRight {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.headerAvatar {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
    background-color: #cb9c44;
    box-shadow: 2px 3px 15px #000;
    cursor: pointer;
}

.headerAvatar:hover{
    border: 2px solid rgb(216, 40, 40);
}

.ChatroomMain {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 4rem;
    height: 100%;
}

.chatListContainer {
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}

.chatListSearch {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.chatListSearchInput::placeholder {
    color: rgba(255, 255, 255, .6);
}

.chatListSearchInput {
    padding: 0 1rem 0 2.5rem;
    height: 2rem;
    width: 95%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 25px;
    margin-top: 1rem;
    color: rgba(255, 255, 255, .6);
}

.chatListSearchInput:focus {
    border-color: #fff;
}

.searchBar {
    width: 92%;
    position: relative;
}

.searchIcon {
    position: absolute;
    color: rgba(255, 255, 255, .6);
    bottom: .5rem;
    left: .8rem;
}

.chatListContent {
    display: flex;
    padding: 1vh 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25rem;
    max-height: 80vh;
    overflow-y: scroll;
}


.chatListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
    box-shadow: 2px 3px 10px #000;
}

.chatListCard {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 5rem;
}

.chatListCardName {
    height: 1.2rem;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

.chatListCardDetail {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 1.2rem;
    overflow: hidden;
    justify-content: center;
}

.chatListCardDetailDate {
    display: inline !important;
    margin-left: 2rem;
    font-weight: bold;
    color: gray;
    font-size: 14px;
}

.chatListCardDetailMsg {
    width: 6rem;
    text-overflow: ellipsis;
    height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
}

.ChatroomDetailContainer {
    width: 75%;
    overflow: hidden;
    resize: both;
    position: relative;
    max-width: 5000px;
    height:88%;
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 2px 1px 10px #000;
    background-color: rgba(0, 0, 0, .3);
}

.ChatroomDetailHeader {
    background-color: #000;
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ChatroomDetailHeader img{
    width: 2.6rem;
    height: 2.6rem;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid #ff5564;
    margin-left: 2rem;
}

.ChatroomDetailHeader h2{
    color: #fff;
    margin-left: 1rem;
}

.ChatroomDetailMain {
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
}

.chatroomAvatar {
    width: 2.6rem !important;
    height: 2.6rem !important;
    border: 1px solid rgb(163, 162, 162);
    border-radius: 50%;
    object-fit: cover;
    
}

.ChatroomMsgList {
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30rem 0 5rem 0;
}

.ChatroomMsgList::-webkit-scrollbar-thumb{
    background-color: #3a3939;
    border-radius: 35px;
}



ul, li {
    list-style: none;
    padding: .5rem 1rem;
}

.targetUserMsg {
    align-self: flex-start;
}

.curentUserMsg {
    align-self: flex-end;
}

.targetUserMsgContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.currentUserMsgContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: #fff;
    margin-right: 1rem;
}

.targetUserMsgContent{
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 25rem;
    background-color: #000;
    border-radius: 0 25px 25px 0;
    padding: .3rem 1rem;
    margin-left: 1rem;
    box-shadow: 1px 0 5px #000;
}

.currentUserMsgContent{
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 25rem;
    background-color: rgb(18, 150, 106);
    border-radius: 25px 0 0 25px;
    padding: .3rem 1rem;
    margin-right: 1rem;
    box-shadow: -1px 0 15px #000;
}

.ChatroomDetailFooter{
    background-color: #000;
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chatroomDetailFooterInput{
    width: 70%;
    height: 2rem;
    border: 1px solid #fff;
    background-color: transparent;
    color: aliceblue;
    padding: 0 1rem;
    border-radius: 25px;

}

.ChatroomDetailFooterBtn{
    width: 5rem;
    height: 2rem;
    margin: 0 5%;
    background-color: #ff5564;
}

.ChatroomDetailFooterBtn:hover{
    background-color: #cb9c44;
}